.input {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}

.input__label {
    display: block;
    font-weight: bold;
    margin-bottom: .8rem;
}

.input__element {
    background: white;
    border: 1px solid #CCC;
    box-sizing: border-box;
    display: block;
    font: inherit;
    outline: none;
    padding: .6rem 1rem;
    width: 100%;
    &:focus {
        background: #CCC;
        outline: none;
    }
}

.invalid {
    background: #FDA49A;
    border: 1px solid red;
}